# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - feature/*

pr: none

parameters:
  - name: XAPIEMAIL
    type: string
    displayName: X-API-EMAIL
    default: user@email.com
  - name: XAPIKEY
    type: string
    displayName: X-API-KEY
    default: user-api-key
  - name: BUILDINGID
    type: string
    default: "1"
  - name: FLOORID
    type: string
    default: "1"
  - name: DASHBOARD_URL
    type: string
    default: "https://dashboard.situm.com"

variables:
  - group: Passwords
  - group: SoftwareVersions

resources:
  repositories:
  - repository: sys_kubernetes_templates
    type: bitbucket
    endpoint: Bitbucket - sistemas
    name: situm/sys-kubernetes-templates.git

jobs: 
  #===============================================================
  # Job for Android app
  #===============================================================
  - job:
    displayName: Build Android App
    pool:
      vmImage: $(ubuntuVersion)
    steps:
    - ${{ if ne(variables['Build.Reason'],'manual') }}:
      - bash: |
           echo "##vso[task.setvariable variable=XAPIKEY]$(echo $(XAPIKEY_EXAMPLES))"
           echo "##vso[task.setvariable variable=XAPIEMAIL]$(echo $(XAPIEMAIL_EXAMPLES))"
           echo "##vso[task.setvariable variable=BUILDINGID]$(echo $(BUILDING_ID_EXAMPLES))"
           echo "##vso[task.setvariable variable=FLOORID]$(echo $(FLOOR_ID_EXAMPLES))"
           echo "##vso[task.setvariable variable=DASHBOARD_URL]$(echo 'https://dashboard.situm.com')"
        displayName: Configure Automatic run Vars

    - ${{ if eq(variables['Build.Reason'],'manual') }}:
      - bash: |
           echo "##vso[task.setvariable variable=XAPIKEY]$(echo ${{parameters.XAPIKEY}})"
           echo "##vso[task.setvariable variable=XAPIEMAIL]$(echo ${{ parameters.XAPIEMAIL}})"
           echo "##vso[task.setvariable variable=BUILDINGID]$(echo ${{ parameters.BUILDINGID}}"
           echo "##vso[task.setvariable variable=FLOORID]$(echo ${{ parameters.FLOORID}}"
           echo "##vso[task.setvariable variable=DASHBOARD_URL]$(echo ${{ parameters.DASHBOARD_URL }})"
        displayName: Configure Manual run Vars

    - template: azure/common-steps.yaml
      parameters:
        XAPIKEY: $(XAPIKEY)
        XAPIEMAIL: $(XAPIEMAIL)
        BUILDINGID: $(BUILDINGID)
        FLOORID: $(FLOORID)
        DASHBOARD_URL: $(DASHBOARD_URL)
        system: $(ubuntuVersion)

    - template: azure/build-examples.yaml
      parameters:
        DASHBOARD_URL: $(DASHBOARD_URL)
        system: $(ubuntuVersion)
    
  #===============================================================
  # Job for iOS app
  #===============================================================
  - job:
    displayName: Build iOS App
    pool:
      vmImage: $(macOSVersion)
    steps:
    - ${{ if ne(variables['Build.Reason'],'manual') }}:
      - bash: |
           echo "##vso[task.setvariable variable=XAPIKEY]$(echo $(XAPIKEY_EXAMPLES))"
           echo "##vso[task.setvariable variable=XAPIEMAIL]$(echo $(XAPIEMAIL_EXAMPLES))"
           echo "##vso[task.setvariable variable=BUILDINGID]$(echo $(BUILDING_ID_EXAMPLES))"
           echo "##vso[task.setvariable variable=FLOORID]$(echo $(FLOOR_ID_EXAMPLES))"
           echo "##vso[task.setvariable variable=DASHBOARD_URL]$(echo 'https://dashboard.situm.com')"
        displayName: Configure Automatic run Vars

    - ${{ if eq(variables['Build.Reason'],'manual') }}:
      - bash: |
           echo "##vso[task.setvariable variable=XAPIKEY]$(echo ${{parameters.XAPIKEY}})"
           echo "##vso[task.setvariable variable=XAPIEMAIL]$(echo ${{ parameters.XAPIEMAIL}})"
           echo "##vso[task.setvariable variable=BUILDINGID]$(echo ${{ parameters.BUILDINGID}}"
           echo "##vso[task.setvariable variable=FLOORID]$(echo ${{ parameters.FLOORID}}"
           echo "##vso[task.setvariable variable=DASHBOARD_URL]$(echo ${{ parameters.DASHBOARD_URL }})"
        displayName: Configure Manual run Vars

    - template: azure/common-steps.yaml
      parameters:
        XAPIKEY: $(XAPIKEY)
        XAPIEMAIL: $(XAPIEMAIL)
        BUILDINGID: $(BUILDINGID)
        FLOORID: $(FLOORID)
        DASHBOARD_URL: $(DASHBOARD_URL)
        system: $(macOSVersion)

    - template: azure/build-examples.yaml
      parameters:
        DASHBOARD_URL: $(DASHBOARD_URL)
        system: $(macOSVersion)
