export const SITUM_API_KEY = '';
export const SITUM_BUILDING_ID = ''; // Identifier of the building
export const SITUM_FLOOR_ID = ''; // Identifier of the floor
export const SITUM_PROFILE = ''; // MapView profile, optional
export const SITUM_DASHBOARD_URL = 'https://dashboard.situm.com';